# Assignment: Kaggle Cluster Challenge 

Clustering medical data: [https://www.kaggle.com/c/onelasttrain/overview](https://www.kaggle.com/c/onelasttrain/overview)

In [1]:
# get data
!git clone https://github.com/keuperj/DATA.git

Cloning into 'DATA'...
remote: Enumerating objects: 42, done.
remote: Counting objects: 100% (42/42), done.
remote: Compressing objects: 100% (39/39), done.
remote: Total 42 (delta 7), reused 38 (delta 3), pack-reused 0
Unpacking objects: 100% (42/42), done.

In [2]:
import pandas as pd
train = pd.read_csv("DATA/Cluster_I/TRAIN.csv")
test = pd.read_csv("DATA/Cluster_I/TEST.csv")

In [3]:
train.head()

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted_NO
0,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,1
1,Caucasian,Female,[10-20),?,1,1,7,3,?,?,...,No,Up,No,No,No,No,No,Ch,Yes,0
2,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,...,No,No,No,No,No,No,No,No,Yes,1
3,Caucasian,Male,[30-40),?,1,1,7,2,?,?,...,No,Up,No,No,No,No,No,Ch,Yes,1
4,Caucasian,Male,[40-50),?,1,1,7,1,?,?,...,No,Steady,No,No,No,No,No,Ch,Yes,1

In [4]:
train.describe()

,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,readmitted_NO
count,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000,71236.000000
mean,2.152297,3.997235,5.881745,4.491479,43.129934,1.344601,15.719987,0.300747,0.157982,0.614605,7.147285,0.524973
std,1.546621,5.686334,4.426288,3.038481,19.006543,1.681742,8.174863,1.112868,0.697619,1.228058,1.991019,0.499379
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,1.000000,1.000000,1.000000,2.000000,32.000000,0.000000,10.000000,0.000000,0.000000,0.000000,5.000000,0.000000
50%,2.000000,1.000000,7.000000,4.000000,44.000000,1.000000,14.000000,0.000000,0.000000,0.000000,8.000000,1.000000
75%,3.000000,5.000000,7.000000,6.000000,56.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000,1.000000
max,8.000000,28.000000,22.000000,14.000000,129.000000,6.000000,81.000000,42.000000,42.000000,21.000000,9.000000,1.000000

In [18]:
df = train.append(test)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101766 entries, 0 to 30529
Data columns (total 68 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   weight                    101766 non-null  object
 1   admission_type_id         101766 non-null  int64
 2   discharge_disposition_id  101766 non-null  int64
 3   admission_source_id       101766 non-null  int64
 4   time_in_hospital          101766 non-null  int64
 5   payer_code                101766 non-null  object
 6   medical_specialty         101766 non-null  object
 7   num_lab_procedures        101766 non-null  int64
 8   num_procedures            101766 non-null  int64
 9   num_medications           101766 non-null  int64
 10  number_outpatient         101766 non-null  int64
 11  number_emergency          101766 non-null  int64
 12  number_inpatient          101766 non-null  int64
 13  diag_1                    101766 non-null  object
 14  diag_2                    101766 non-null  object
 15  diag_3                    101766 non-null  object
 16  number_diagnoses          101766 non-null  int64
 17  max_glu_serum             101766 non-null  object
 18  A1Cresult                 101766 non-null  object
 19  metformin                 101766 non-null  object
 20  repaglinide               101766 non-null  object
 21  nateglinide               101766 non-null  object
 22  chlorpropamide            101766 non-null  object
 23  glimepiride               101766 non-null  object
 24  acetohexamide             101766 non-null  object
 25  glipizide                 101766 non-null  object
 26  glyburide                 101766 non-null  object
 27  tolbutamide               101766 non-null  object
 28  pioglitazone              101766 non-null  object
 29  rosiglitazone             101766 non-null  object
 30  acarbose                  101766 non-null  object
 31  miglitol                  101766 non-null  object
 32  troglitazone              101766 non-null  object
 33  tolazamide                101766 non-null  object
 34  examide                   101766 non-null  object
 35  citoglipton               101766 non-null  object
 36  insulin                   101766 non-null  object
 37  glyburide-metformin       101766 non-null  object
 38  glipizide-metformin       101766 non-null  object
 39  glimepiride-pioglitazone  101766 non-null  object
 40  metformin-rosiglitazone   101766 non-null  object
 41  metformin-pioglitazone    101766 non-null  object
 42  change                    101766 non-null  object
 43  diabetesMed               101766 non-null  object
 44  readmitted_NO             71236 non-null   float64
 45  race_?                    71236 non-null   float64
 46  race_AfricanAmerican      71236 non-null   float64
 47  race_Asian                71236 non-null   float64
 48  race_Caucasian            71236 non-null   float64
 49  race_Hispanic             71236 non-null   float64
 50  race_Other                71236 non-null   float64
 51  gender_Female             71236 non-null   float64
 52  gender_Male               71236 non-null   float64
 53  gender_Unknown/Invalid    71236 non-null   float64
 54  age_[0-10)                71236 non-null   float64
 55  age_[10-20)               71236 non-null   float64
 56  age_[20-30)               71236 non-null   float64
 57  age_[30-40)               71236 non-null   float64
 58  age_[40-50)               71236 non-null   float64
 59  age_[50-60)               71236 non-null   float64
 60  age_[60-70)               71236 non-null   float64
 61  age_[70-80)               71236 non-null   float64
 62  age_[80-90)               71236 non-null   float64
 63  age_[90-100)              71236 non-null   float64
 64  race                      30530 non-null   object
 65  gender                    30530 non-null   object
 66  age                       30530 non-null   object
 67  index                     30530 non-null   float64
dtypes: float64(21), int64(11), object(36)
memory usage: 53.6+ MB

## Task 1
Find and evaluate clusters in the data. Note: use the parallelization abilities of *Scikit Learn*...

In [ ]:
miss_val=(df.isna().sum()/len(df)*100).sort_values(ascending=False)
miss_val[miss_val>0]

In [5]:
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    return(res)

In [ ]:
train = encode_and_bind(train, 'race')
train = train.drop(['race'], axis=1)

In [11]:
train = encode_and_bind(train, 'gender')
train = train.drop(['gender'], axis=1)

In [13]:
train = encode_and_bind(train, 'age')
train = train.drop(['age'], axis=1)

In [14]:
train.head()

,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,...,age_[0-10),age_[10-20),age_[20-30),age_[30-40),age_[40-50),age_[50-60),age_[60-70),age_[70-80),age_[80-90),age_[90-100)
0,?,6,25,1,1,?,Pediatrics-Endocrinology,41,0,1,...,1,0,0,0,0,0,0,0,0,0
1,?,1,1,7,3,?,?,59,0,18,...,0,1,0,0,0,0,0,0,0,0
2,?,1,1,7,2,?,?,11,5,13,...,0,0,1,0,0,0,0,0,0,0
3,?,1,1,7,2,?,?,44,1,16,...,0,0,0,1,0,0,0,0,0,0
4,?,1,1,7,1,?,?,51,0,8,...,0,0,0,0,1,0,0,0,0,0

## Task 2
Visualize your result with the embedding projector.

## Task 3 (optional)
Upload your results to Kaggle and get a score.